*,
*::before
*::after {
    box-sizing: border-box;
}
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --footer-color: #2F303A;
    --button-color: #188CE8;
    --accent-white-color: rgba(255, 255, 255, 0.6);
    --section-background: #F5F4FA;
    --card-set-gap: 30px;
    --border-card: #ECECEC;
    --background-filter: #F5F4FA;
    --border-card-content: #EEEEEE ;
    --icon-con-fill: #AFB1B8;
    --footer-networks-backgraound: rgba(255, 255, 255, 0.1);
}
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif; 
    letter-spacing: 0.03em;
    margin: 0;
}
h1,
h2,
h3, 
ul,
p {
    
    margin: 0;
    padding: 0;
}
h1,
h2,
h3 {
    color: var(--title-text-color);
}
li {
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}
/* Хедер */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
header {
    border-bottom: 1px solid var(--border-card);
}
.container .heder-item {
    
    display: flex;
    align-items: center;
    
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    color: var(--title-text-color);
    text-decoration: none;
    
}
.head {
    padding-top: 24px;
    padding-bottom: 25px;
}

.firstpart {
    color: var(--accent-color);
}
.secondpart {
    color: var(--primary-white-color);
}
.navigation {
    display: flex;
    margin-left: 93px;
}

.navigation .item-nav {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation .item-nav + .item-nav {
    margin-left: 50px;
}

.link-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    text-decoration: none;
}
.current ,
.navigation .link-nav:hover ,
.navigation .link-nav:focus {
    color: var(--accent-color);
}

.navigation-link:current {
    color: var(--accent-color);
}
.navigation-contacts {
    display: flex;
    margin-left: auto;
   
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
}
.link-contact {
    display: flex;
    justify-content: center;
    align-items: center;
     
    color: var(--primary-text-color);
    text-decoration: none;
}
.navigation-contacts .link-contact {
    padding: 32px 0;
}
.icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--primary-text-color);   
}

.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
}

.icon-smartfon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--primary-text-color);
}
.link-contact:hover .icon-mail,
.link-contact:focus .icon-mail,
.link-contact:hover .icon-smartfon,
.link-contact:focus .icon-smartfon {
    fill: var(--accent-color);
}
.navigation-contacts .link-contact + .link-contact {
    margin-left: 50px;
}
/* < !-- Заглавная секция --> */
section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.slogan {
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
} 

.headline {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--footer-color);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-img.jpg);
   
    background-position: center;

    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.hero-title {
    font-family: inherit;
    padding: 10px 32px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: transparent;
}
.hero-title:hover,
.hero-title:focus {
    background-color: var(--button-color);
}
/* < !-- Наши преимущества --> */
.benefit-page {
    padding-bottom: 0;
}
.title {
    display: none;
}
.benefit-group {
    display: flex;
}

.li-benefit {
   
    width: 270px;
    margin-right: 30px;
}
.li-benefit:last-child {
    margin-right: 0;
}
.icon-benef{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--background-filter);
    border-radius: 4px;
    margin-bottom: 30px;
}
.icon-benef-1 ,
.icon-benef-2 ,
.icon-benef-3 ,
.icon-benef-4 {
    width: 70px;
    height: 70px;
    
    
}

.benefit {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.44;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.benefit-list {
    
    font-size: 14px;
    line-height: 1.7;
}

/* < !-- Чем мы занимаемся -->< !-- Наша команда --> */

.work-item {
    display: flex;
    align-items: center;
}
.title-work {
    text-align: center;
    margin-bottom: 50px;
    

    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    color:  var(--title-text-color);
}
.img-work {
    width: 370px;
    margin-right: 30px;
}
.img-work:last-child {
    margin-right: 0;
}
/* Наша команда */
.section-employee {
    background: var(--background-filter);
    
}

.group {
    background-color: var(--section-background);
    padding-top: 94px;
}
.team-group {
    display: flex;
    
   
}
.title-team {
    text-align: center;
    margin-bottom: 50px;


    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    color: var(--title-text-color);
}
.people-team {
    width: 270;
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-white-color);
}
.people-team:last-child {
    margin-right: 0;
}
.team {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);
}
.prof-team {
    margin-bottom: 16px;
    
    font-size: 16px;
    line-height: 1.19;
}
.team-con {
    display: flex;

    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
    justify-items: center;
    align-items: center;
}
.connect-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
}
.connect-link:last-child {
    margin-right: 0;
}
.insta ,
.twitter ,
.facebook ,
.linkedin {
    width: 20px;
    height: 20px;
    fill: var(--icon-con-fill);
}
.connect-link:hover ,
.connect-link:focus {
    background-color: var(--accent-color);
}
.connect-link:hover .insta ,
.connect-link:hover .twitter ,
.connect-link:hover .facebook,
.connect-link:hover .linkedin {
    fill: var(--primary-white-color);
}
.connect-link:focus .insta,
.connect-link:focus .twitter,
.connect-link:focus .facebook,
.connect-link:focus .linkedin {
    fill: var(--primary-white-color);
}

/* < !-- Постоянные клиенты --> */

.title-client {
   font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}
.client-list {
    display: flex;
    justify-content: center;
    text-align: center;
}
.link-client {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-con-fill);
    border-radius: 4px;
}
.link-client:last-child {
    margin-right: 0;
}
.link-client:hover,
.link-client:focus{
    border: 1px solid var(--accent-color);   
}
.link-client:hover .icon-client,
.link-client:focus .icon-client{
    fill: var(--accent-color);
}

.icon-client {
    width: 106px;
    height: 60px;
    fill: var(--icon-con-fill);

}

/* Футер */
.footer-item {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.nav-footer {
    margin-right: 70px;
}
.footer-adress {
    display: flex;
    align-items: baseline;   
}
.footer-block {
    display: inline-block;
    margin-bottom: 20px;
}
.adress {
    font-style: normal;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
}
.adress-item {
    margin-bottom: 9px;
}
.adress-item:last-child {
    margin-bottom: 0;
}
.link-contact-footer {
    color: var(--primary-text-color);
    text-decoration: none;
}
.adress-item .link-contact-footer {
    color: var(--accent-white-color);
}
.adress-item .link-contact-footer:hover,
.adress-item .link-contact-footer:focus {
    color: var(--accent-color);
}
.social-networks {
    width: 206px;
}
.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);

    margin-bottom: 20px;
}
.con-footer {
    display: flex;
    justify-content: space-between;
}
.connect-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--footer-networks-backgraound);
}
.connect-link-footer:last-child {
    margin-right: 0;
}
.connect-link-footer:hover ,
.connect-link-footer:focus {
    background-color: var(--accent-color);
}
.insta-footer ,
.twitter-footer ,
.facebook-footer ,
.linkedin-footer {
    width: 20px;
    height: 20px;

    fill: var(--primary-white-color);
}
/* < !--Наши работы--> */
.filter-set {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.choice {
    margin-right: 8px;
    
}
.choice:last-child {
    margin-right: 0;
}

.filter {
    padding: 6px 22px;
     
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--title-text-color);
    cursor: pointer;
    background: var(--background-filter);
    border-radius: 4px;
    border: transparent ;
    
}
.filter:hover,
.filter:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.choise {
    background: var(--accent-color);
    border-radius: 4px;
}

.cards-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--card-set-gap));
    margin-top: calc(-1*var(--card-set-gap));
}

.cards-set > .card {
    flex-basis: (100% / 3 - var(--title-text-color));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.projects-link {
    text-decoration: none;
}
.card-content {
    padding: 20px 24px;
    border: 1px solid var(--border-card-content);
    border-top-color: transparent;
}
.projects {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    text-decoration: none;
}
.projects-type {
    margin-top: 4px;
    
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.projects-link {
    display:block;
}
.projects-link:hover ,
.projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}